
.title{
    margin-bottom: 10px;
    text-align: center;
    width: 200px;
    color: blue;
    border: 2px solid red;
}
input[type="button"]{
    background-color: black;
    color: wheat;
    width: 100%;
}
input[type="text"]{
    background-color: aliceblue;
    border: 2px solid black;
    width: 100%;
}